<table class="table table-striped">
    <thead>
      <tr>
        <th>Vehicle</th>
        <th>Last Price per Gallon</th>
        <th>Last Miles on Tank</th>
        <th>Last MPG</th>
        <th>Average MPG</th>
        <th>Average Price per Mile</th>
        <th>Best MPG</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          {{!-- <td>{{vehicle.year}} {{vehicle.make}} {{vehicle.model}} {{vehicle.trim}}</td> --}}
          <td></td>
          <td>mi</td>
          <td>mi</td>
          <td>{{avgMPG}} MPG</td>
          <td>$ per mi</td>
          <td></td>
        </tr>
    </tbody>
</table>

{{yield}}
