<h2>Adding a vehicle is easy</h2>
<p>Simply enter the required information below and click submit.</p>
<form {{action 'addCar' identification on='submit'}}>
			<div class="form-group has-error">
				{{#each model.errors.messages as |message|}}
				<div class="error">
				{{message}}
				</div>
				{{/each}}
				{{input class="form-control" value=year placeholder="Year" type="number" min="1900" max="2016"}}
			</div>
			<div class="form-group has-error">
				{{input class="form-control" value=make placeholder="Make" }}
			</div>
			<div class="form-group has-error">
				{{input class="form-control" value=model placeholder="Model" }}
			</div>
			<div class="form-group has-error">
				{{input class="form-control" value=trim placeholder="Trim" }}
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
</form>
{{outlet}}
