<h2>Adding a vehicle is easy</h2>
<p>Simply enter the required information below and click submit.</p>

<form class="form-inline">
			<div class="form-group has-error">
				{{input class="form-control" value=year action="addCar" placeholder="Year" type="number" min="1900" max="2016"}}
			</div>
			<div class="form-group has-error">
				{{input class="form-control" value=make action="addCar" placeholder="Make" }}
			</div>
			<div class="form-group has-error">
				{{input class="form-control" value=model action="addCar" placeholder="Model" }}
			</div>
			<div class="form-group has-error">
				{{input class="form-control" value=trim action="addCar" placeholder="Trim" }}
			</div>
			<button type="button" class="btn btn-default" {{action 'submit'}}>Submit</button>

			{{errorMsg}}
</form>
{{outlet}}
