<h2>Full tank?</h2>
<p>Record your results below and click submit.</p>
<form {{action 'addFillUp' identification on='submit'}}>
			<div class="form-group has-error">
				{{input class="form-control" value=vehicle placeholder="Vehicle"}}
			</div>
			{{!-- <div>
			{{view Ember.Select 
			content=controller.vehiclesLookup 
			selection=model.vehicle
			optionValuePath="content.id" 
			optionLabelPath="content.title" 
			prompt="Choose vehicle" 
			class="form-control" 
			id="input-vehicle"}}
			</div><div></div> --}}
			<div class="form-group has-error">
				{{input class="form-control" value=date placeholder="Date" type="date"}}
			</div>
			<div class="form-group has-error">
				{{input class="form-control" value=miles placeholder="Miles" type="number" step="any" min = "0"}}
			</div>
			<div class="form-group has-error">
				{{input class="form-control" value=gallons placeholder="Gallons" type="number" step="any" min = "0"}}
			</div>
			<div class="form-group has-error">
				{{input class="form-control" value=pricePerGallon placeholder="Price per Gallon" type="number" step="any" min = "0"}}
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
</form>
{{outlet}}
