{{#if isLoggedIn}} {{! Display user name and logout button}}
	Hello {{username}}
	<button type="button" class="btn btn-default" {{action 'logout'}}>Log out</button>
{{else}} {{!Display login page}}
	<h2>Welcome to Fuel-Up</h2>
	<h4>The quick and secure way to log, track, and compare your gas mileage.</h4>
	Please login to continue.
	{{#if errorMsg}}
		
		<form class="form-inline">
			
			<div class="form-group has-error">
				<label class="control-label"><div class="alert alert-danger" style="padding: 5px; margin-bottom: 0px;" role="alert">{{errorMsg}}</div></label>
				{{input class="form-control" value=username action="login" placeholder="Username"}}
			</div>
			<div class="form-group has-error">
				{{input class="form-control" value=password action="login" placeholder="Password" type="password"}}
			</div>
			<label class="checkbox">
			  {{input type="checkbox" checked=remember}} Remember me
			</label>
			<button type="button" class="btn btn-default" {{action 'login'}}>Login</button>
			<button type="button" class="btn btn-default" {{action 'logout'}}>Logout</button>

			Errors: {{errorMsg}}

		</form>
	{{else}}
		<form class="form-inline">
			<div class="form-group">
				{{input class="form-control" value=username action="login" placeholder="Username"}}
			</div>
			<div class="form-group">
				{{input class="form-control" value=password action="login" placeholder="Password" type="password"}}
			</div>
			<label class="checkbox">
			  {{input type="checkbox" checked=remember}} Remember me
			</label>
			<button type="button" class="btn btn-default" {{action 'login'}}>Login</button>
			<button type="button" class="btn btn-default" {{action 'logout'}}>Logout</button>

		</form>
	{{/if}}
{{/if}}

<p>Don't have an account? Click here to {{#link-to 'register' tagName="li2"}}<a href="/register">register</a>{{/link-to}} for a free account.</p>