<h2>Let's see how you're doing...</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Vehicle</th>
        <th>Last Price per Gallon</th>
        <th>Last Miles on Tank</th>
        <th>Last MPG</th>
        <th>Average MPG</th>
        <th>Best MPG</th>
      </tr>
    </thead>
    <tbody>
      {{#each vehicle in vehicle}}
        <tr>
          <td>{{allFillups.vehicle.year}} {{allFillups.vehicle.make}} {{allFillups.vehicle.model}} {{allFillups.vehicle.trim}}</td>
          <td>{{allFillups.pricePerGallon}}</td>
          <td>{{allFillups.miles}}mi</td>
          <td>mi</td>
          <td>$</td>
          <td>{{!-- {{#link-to 'fillup' tagName="li2"}}<a href="/add-vehicle">Remove</a>{{/link-to}} --}}</td>
        </tr>
        {{else}}
      <h4>You haven't added any vehicles yet.</h4>
      {{/each}}
    </tbody>
</table>
{{outlet}}

